.first-nav {
    grid-column: 7/10;
    grid-row: 1/2;
    @include navigation;
    @include responsive(xl) {
        grid-column: 6/10;
    }
    @include responsive(md) {
        grid-column: 4/10;
    }
}

.second-nav {
    grid-column: 3/8;
    grid-row: 3/4;
    @include navigation();
    @include responsive(md) {
        grid-column: 2/9;
    }
    @include responsive(md2) {
        grid-column: 1/-1;
    }
}

.dropdown {
    position: absolute;
    top: 3rem;
    width: 11.5rem;
    text-align: center;
    background-color: darken(color(tertiary), 5%);
    padding: 1rem;
    border-radius: 0.5rem;
    display: hidden;
    opacity: 0;
    z-index: 200;
    &-li {
        position: relative;
        &::after {
            // font-family: "chevron-down-circle-outline";
            font-family: "Ionicons";
            content: url("../svg/arrow.svg");
            font-size: 1rem;
            // position: absolute;
            // top: 0.1rem;
            // right: -2.3rem;
            @include responsive(md2) {
                display: none;
            }
        }
        &:hover .dropdown {
            display: block;
            opacity: 100%;
        }
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -1.2rem;
        right: 0.2rem;
        border-bottom: 15px solid darken(color(tertiary), 5%);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
    &-item {
        margin: 0.5rem 0;
        list-style: none;
    }
    &-link {
        text-decoration: none;
        font-weight: 300;
        font-size: font-size(xs);
        color: color(primary);
        &:hover {
            color: color(quarternary);
        }
    }
}