.products {
    &-section {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    &-heading {
        margin: 5rem 0;
        &-text {
            text-align: center;
            font-size: font-size(l) + 2rem;
            text-transform: capitalize;
            font-weight: 300;
            color: color(primary);
        }
    }
    &-wrapper {
        @include flexPosition;
        margin: 5rem 0rem;
    }
}

.product {
    &-box {
        position: relative;
        &:hover .product-description {
            opacity: 1;
            visibility: visible;
        }
        &:hover .product-img {
            filter: blur(3px);
            opacity: 0.8;
        }
    }
    &-img {
        width: 100%;
        transition: all 1s 0.5s;
    }
    &-description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparentize(color(secondary), 0.4);
        padding: 2rem;
        text-align: center;
        border: 1px solid color(primary);
        border-radius: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: all 1s 0.5s;
        @include responsive(md) {
            padding: 1.6rem;
        }
        @include responsive(sm) {
            background-color: transparent;
            border: none;
        }
        &-heading {
            text-transform: capitalize;
            font-size: font-size(l);
            @include responsive(md) {
                font-size: font-size(md);
            }
            @include responsive(md2) {
                font-size: font-size(md)-0.5rem;
            }
            @include responsive(sm) {
                display: none;
            }
        }
        &-price {
            margin: 1rem 0;
            font-size: font-size(md);
            font-weight: 300;
            @include responsive(md) {
                font-size: font-size(sm);
            }
            @include responsive(md2) {
                font-size: font-size(sm)-0.4rem;
            }
            @include responsive(sm) {
                display: none;
            }
            span {
                font-weight: 600;
            }
        }
        &-btn {
            margin: 1rem 0;
            display: block;
            background-color: lighten(color(primary), 20);
            padding: 0.5rem;
            text-decoration: none;
            text-transform: capitalize;
            font-size: font-size(sm);
            font-weight: 300;
            color: color(quarternary);
            border: 3px solid color(quarternary);
            border-radius: 5px;
            @include responsive(md2) {
                font-size: font-size(sm)-0.5rem;
                padding: 0.2rem 0.4rem;
            }
            @include responsive(sm) {
                width: 10rem;
                padding: 0.5rem 0.7rem;
            }
        }
    }
}

.products-btn {
    @include flexPosition;
}